.projectsContainer {
    display: flex;
    justify-items: baseline;
    margin-top: 60px;
}

.projects {
    margin: 0;
    display: inline-flex;
    width: 20%;
    justify-content: center;
    font-size: 26px;
}

.projectsParagraph {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 60%;
    margin: auto;
    font-size: 22px;
}

p {
    margin-top: 0;
}

h3 {
    margin-top: 0;
    /* color: #FFC40C; */
}


.spacerBlue {
    width: 100%;
    height: 540px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.squiggle {
    margin-top: -200px;
    background-image: url('wave-haikei-blue.svg');
}

.project p:last-child{

    margin-bottom: 125px;
}