.experienceContainer {
    display: flex;
    justify-items: baseline;
    margin-top: 60px;
}

.experience {
    margin: 0;
    display: inline-flex;
    width: 20%;
    justify-content: center;
    font-size: large;

    
}

.experienceParagraph {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 60%;
    margin: auto;
}

p {
    margin-top: 0;
}

h3 {
    margin-top: 0;
    /* color: #FFC40C; */
}

