.experienceContainer {
    display: flex;
    justify-items: baseline;
    margin-top: 60px;
}

.experience {
    margin: 0;
    display: inline-flex;
    width: 20%;
    justify-content: center;
    font-size: 26px;
}

.experienceParagraph {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 60%;
    margin: auto;
    font-size: 22px;
}

p {
    margin-top: 0;
}

h3 {
    margin-top: 0;
    /* color: #FFC40C; */
}

.spacer {
    width: 100%;
    height: 540px;
    background-repeat: no-repeat;
    background-position: center 1;
    background-size: cover;
}

.curve {
    margin-top: -100px;
    background-image: url('./wave-haikei.svg');
}

.job p:last-child{

    margin-bottom: 125px;
}