html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #333745;
    font-family: JetBrains Mono;
    color: #FFF;
}

.headerContainer {
    display: flex;
    padding: 20px;
}

.nameContainer {
    display: inline-block;
}

.nameText {
    color: #FFF;
    font-size: 32px;
    display: inline;
    font-weight: 700;
    line-height: normal;
}

.codeSymbols {
    color: #1EFFBC;
    font-family: JetBrains Mono;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

